
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    font-family: Open Sans, sans-serif;
    width: 100%;
    height: 75px;
    background: #000;
    color: #fff;
}

header .header-container {
    margin-left: 115.28px;
    display: flex;
    justify-content: space-between;
}

header nav {
    margin-right: 170px;
    display: flex;
}

header nav a {
    font-family: Open Sans, sans-serif;
    line-height: 75px;
    width: 113.8px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

footer {
    margin-top: 50px;
    font-family: 'Raleway';
    height: 164px;
    width: 100%;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .contact-icons {
    padding-top: 35px;
}
.contact-icons img {
    margin-right: 20px;
}

footer h5 {
    margin: 27.8px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
}