
.tabs-container {
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
.tabs-subcontainer {
    width: 1170px;
    margin: auto;
    margin-top: 59px;
}
.tabs-container__content article {
    vertical-align: top;
    margin-right: 30px;
}
.tabs-container__content {
    display: flex;
    margin-top: -1px;
    height: 501px;
    border: 1px solid #C6CBCD;
}
.tabs-container__content h3 {
    line-height: 124px;
    margin-left: 100px;
    width: 570px;
    font-weight: 700;
    font-size: 30px;
}
.tabs-container__content h5 {
    margin-top: 27px;
    width: 570px;
    margin-left: 100px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
}
.tabs-container__content button {
    width: 270px;
    height: 58px;
    line-height: 58px;
    background-color: #EC7979;
    font-weight: 600;
    font-size: 18px;
    border: none;
    margin: 27px 0 0 100px;
    color: #fff;
    cursor: pointer;
}
.tabs-subcontainer ul{
    display: flex;
}
.tabs-subcontainer li {
    width: 184px;  
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    list-style-type: none;
    text-transform: uppercase;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.tabs-subcontainer li:nth-of-type(1) {
    position: relative;
    z-index: 1;
    width: 203px; 
    border: 1px solid #C6CBCD;
    border-bottom: 2px solid #fff;
    border-radius: 5px 5px 0 0;
}